.box {
  background: black;
  width: 500px;
  height: 500px;
}
.star {
  -webkit-clip-path: polygon(48% 0%, 8% 94%, 14% 94%, 100% 32%, 0 32%, 90% 94%, 93% 91%, 11% 36%, 89% 36%, 16% 88%, 18% 80%, 49% 10%, 93% 93%, 95% 87%);
  clip-path: polygon(48% 0%, 8% 94%, 14% 94%, 100% 32%, 0 32%, 90% 94%, 93% 91%, 11% 36%, 89% 36%, 16% 88%, 18% 80%, 49% 10%, 93% 93%, 95% 87%);
}
.goat {
  -webkit-clip-path: polygon(41% 24%, 35% 15%, 25% 10%, 17% 9%, 10% 9%, 5% 6%, 1% 1%, 5% 11%, 10% 14%, 22% 17%, 30% 22%, 34% 30%, 34% 33%, 31% 35%, 23% 36%, 17% 37%, 12% 40%, 12% 42%, 17% 44%, 26% 47%, 31% 48%, 34% 37%, 36% 37%, 34% 45%, 34% 48%, 37% 49%, 38% 54%, 37% 56%, 33% 53%, 32% 50%, 30% 51%, 30% 59%, 33% 64%, 38% 70%, 41% 73%, 42% 78%, 43% 82%, 45% 85%, 47% 88%, 49% 91%, 48% 94%, 49% 98%, 51% 95%, 54% 88%, 58% 82%, 58% 74%, 59% 71%, 64% 69%, 69% 61%, 70% 56%, 68% 50%, 66% 52%, 63% 55%, 61% 54%, 63% 50%, 66% 48%, 68% 48%, 66% 39%, 64% 34%, 67% 34%, 68% 43%, 71% 47%, 77% 47%, 84% 44%, 88% 41%, 84% 39%, 74% 35%, 65% 32%, 69% 25%, 74% 20%, 80% 17%, 88% 15%, 94% 12%, 97% 7%, 99% 1%, 94% 7%, 88% 9%, 81% 9%, 74% 11%, 67% 14%, 63% 18%, 60% 23%, 57% 25%, 52% 27%, 49% 27%, 45% 25%, 42% 25%);
  clip-path: polygon(41% 24%, 35% 15%, 25% 10%, 17% 9%, 10% 9%, 5% 6%, 1% 1%, 5% 11%, 10% 14%, 22% 17%, 30% 22%, 34% 30%, 34% 33%, 31% 35%, 23% 36%, 17% 37%, 12% 40%, 12% 42%, 17% 44%, 26% 47%, 31% 48%, 34% 37%, 36% 37%, 34% 45%, 34% 48%, 37% 49%, 38% 54%, 37% 56%, 33% 53%, 32% 50%, 30% 51%, 30% 59%, 33% 64%, 38% 70%, 41% 73%, 42% 78%, 43% 82%, 45% 85%, 47% 88%, 49% 91%, 48% 94%, 49% 98%, 51% 95%, 54% 88%, 58% 82%, 58% 74%, 59% 71%, 64% 69%, 69% 61%, 70% 56%, 68% 50%, 66% 52%, 63% 55%, 61% 54%, 63% 50%, 66% 48%, 68% 48%, 66% 39%, 64% 34%, 67% 34%, 68% 43%, 71% 47%, 77% 47%, 84% 44%, 88% 41%, 84% 39%, 74% 35%, 65% 32%, 69% 25%, 74% 20%, 80% 17%, 88% 15%, 94% 12%, 97% 7%, 99% 1%, 94% 7%, 88% 9%, 81% 9%, 74% 11%, 67% 14%, 63% 18%, 60% 23%, 57% 25%, 52% 27%, 49% 27%, 45% 25%, 42% 25%);
}
.flames {
  -webkit-clip-path: polygon(0 40%, 3% 52%, 7% 64%, 17% 65%, 25% 58%, 25% 47%, 20% 37%, 17% 28%, 17% 14%, 24% 4%, 31% 1%, 27% 15%, 27% 25%, 31% 37%, 39% 47%, 44% 54%, 47% 62%, 57% 65%, 61% 55%, 64% 44%, 60% 36%, 56% 29%, 58% 20%, 62% 23%, 62% 30%, 67% 36%, 73% 28%, 75% 19%, 73% 9%, 68% 1%, 76% 6%, 82% 22%, 81% 36%, 79% 47%, 79% 59%, 87% 66%, 95% 63%, 99% 54%, 100% 41%, 100% 100%, 81% 100%, 66% 96%, 57% 94%, 48% 93%, 35% 95%, 27% 97%, 18% 99%, 8% 100%, 0 100%);
  clip-path: polygon(0 40%, 3% 52%, 7% 64%, 17% 65%, 25% 58%, 25% 47%, 20% 37%, 17% 28%, 17% 14%, 24% 4%, 31% 1%, 27% 15%, 27% 25%, 31% 37%, 39% 47%, 44% 54%, 47% 62%, 57% 65%, 61% 55%, 64% 44%, 60% 36%, 56% 29%, 58% 20%, 62% 23%, 62% 30%, 67% 36%, 73% 28%, 75% 19%, 73% 9%, 68% 1%, 76% 6%, 82% 22%, 81% 36%, 79% 47%, 79% 59%, 87% 66%, 95% 63%, 99% 54%, 100% 41%, 100% 100%, 81% 100%, 66% 96%, 57% 94%, 48% 93%, 35% 95%, 27% 97%, 18% 99%, 8% 100%, 0 100%);
}
.picket {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 50% 50%, 0 100%, 0 50%);
  clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 50% 50%, 0 100%, 0 50%);
}
.test {
  -webkit-clip-path: polygon(0 40%, 3% 52%, 7% 64%, 17% 65%, 25% 58%, 25% 47%, 20% 37%, 17% 28%, 17% 14%, 24% 4%, 31% 1%, 27% 15%, 27% 25%, 31% 37%, 39% 47%, 44% 54%, 47% 62%, 57% 65%, 61% 55%, 64% 44%, 60% 36%, 56% 29%, 58% 20%, 62% 23%, 62% 30%, 67% 36%, 73% 28%, 75% 19%, 73% 9%, 68% 1%, 76% 6%, 82% 22%, 81% 36%, 79% 47%, 79% 59%, 87% 66%, 95% 63%, 99% 54%, 100% 41%, 100% 100%, 81% 100%, 66% 96%, 57% 94%, 48% 93%, 35% 95%, 27% 97%, 18% 99%, 8% 100%, 0 100%);
  clip-path: polygon(0 40%, 3% 52%, 7% 64%, 17% 65%, 25% 58%, 25% 47%, 20% 37%, 17% 28%, 17% 14%, 24% 4%, 31% 1%, 27% 15%, 27% 25%, 31% 37%, 39% 47%, 44% 54%, 47% 62%, 57% 65%, 61% 55%, 64% 44%, 60% 36%, 56% 29%, 58% 20%, 62% 23%, 62% 30%, 67% 36%, 73% 28%, 75% 19%, 73% 9%, 68% 1%, 76% 6%, 82% 22%, 81% 36%, 79% 47%, 79% 59%, 87% 66%, 95% 63%, 99% 54%, 100% 41%, 100% 100%, 81% 100%, 66% 96%, 57% 94%, 48% 93%, 35% 95%, 27% 97%, 18% 99%, 8% 100%, 0 100%);
  content: "";
  top: 0;
  -webkit-transform: none;
  transform: none;
  background-clip: none;
  -webkit-background-clip: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  -webkit-mask: none;
  mask: none;
  border-radius: 0;
}
